<div class="container my-3">
  <h1>Results</h1>
</div>

<div class="container my-3">
  <p><%= params[:answer] %> <%= @current_letters %></p>
</div>

<div class="container my-3">
  <%= link_to "Play again!", new_path %>
</div>
